@import '~antd/dist/antd.css';

html, body, #root, #root>div {
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile-menu-collapse .ant-collapse-item {
  padding: 0.5em 0;
}

.mobile-menu-collapse .ant-collapse-header {
  font-size: 18px;
}

.mobile-menu-collapse .ant-collapse-content-box {
  padding: 0;
}
